// custom variables
$primary: #4b5842;
$secondary: #c7d59f;
$danger: #550c18;
$body-bg: #daddd8;
$list-group-border-color: #4b5842;

// importing bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
